<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://dasturing.uz">
      <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      dasturing.uz
    </a>
  </div>
</nav>